.navbar {
	background: #333;
	overflow: hidden;}

.navbar a {
	float: left;
	text-decoration: none;
	font-size: 1em;
	font-family: helvetica, sans-serif;
	color: white;
	background: #333;
	padding: 15px 25px;
	transition: all 0.5s;
}

.navbar a:hover {background: orange; color:#333;}

.desplegable {overflow: hidden;
				float: left;}

.desplegable .btn {
	font-size: 1em;
	font-family: helvetica, sans-serif;
	color: white;
	background: #333;
	padding: 15px 25px;
	border: 0;
	transition: all 0.5s;}

.desplegable .btn:hover {background: orange; color: #333;}

.submenu {
	display: none;
	position: absolute;
	min-height: 140px;
	z-index: 2;
}

.submenu a {
	float: none;
	display: block;
	transition: all 0.5s;
}

.desplegable:hover .submenu {display: block;}