@import "scss/nav";

/*Declarando variables*/
/*Las variables sirven para almacenar informacion*/

$color-principal: yellow;
$color-secundario: aqua;
$color-complementario: blue;

$font-title: bold 4em "Open Sans", sans-serif;

body {background: black; /*color: silver;*/}


h1 {font: $font-title; text-align:center; color: $color-complementario;}


/*  BEM  */
.quienes {background:white;}
.quienes__integrantes {margin: 1em 0; font-size:1.3em; color: $color-principal; text-align: right;}

.quienes__integrantes--destacado {@extend .quienes__integrantes; color:$color-secundario; border: solid 1px red; padding: 1em;}


/*  OPERADORES  */

$ancho: 600px;

.quienes__box1 {
	width:$ancho*2;
	background:$color-principal;
	color:$color-complementario;
	padding: 1em;
}

.quienes__box2 {
	width:$ancho/2;
	background:$color-principal;
	color:$color-complementario;
	padding: 1em;
}

.quienes__box3 {
	width:$ancho+100px;
	background:$color-principal;
	color:$color-complementario;
	padding: 1em;
}


/*  CONDICIONALES  */

$layout:layout3;

.header__title {
	
	@if 1+1==2 {border-bottom:solid 1px white}

	@if layout == layout1 {
	color:blue;
	}
	@else if $layout == layout2 {
	color: purple;
	}
	@else if $layout == layout3 {
	color:aqua;
	}
	@else {
	color: yellow;
	}
}


/*  BUCLES  */

@for $i from 1 through 4 {
	.todos#{$i} {width: 300px * $i; padding: 1em; background: pink;}
}

/*  @each  */

$lista: beto pocho pepe;

@each $skater in $lista {
	.#{$skater}-icon {
	background-image: url("../img/#{$skater}.jpg");
	width: 300px;
	height: 300px;
	border: solid 1px red;
	}
}
 
/*  MAPS  */

$color:(twitter:blue,facebook:green,mail:red);

@each $name-color, $bg-color in $color {
	.btn--#{$name-color}{
	background-color:$bg-color;
	padding: 15px 25px;
	font-size:1.3em;
	}
}


/*   MIXINS  */

@mixin sizes($width,$height){
	width:$width;
	height:$height;
}

.box {
	@include sizes (700px, 300px);
	background:green;
}