/* Nesting o anidando */
ul {
	list-style-type:none;
	li{
	display:inline-block;
	a {
	text-decoration:none;
	color:white;
	background: orange;
	padding: 15px 25px;
	}
	a:hover {
	background: white;
	color: orange;
	}
	
	}
}

	