
.navbar {background: #333;overflow: hidden;}
  /* Recordar bug elementos inline flotados de la clase anterior */
  /* Al flotar mis etiquetas <a>(q son elementos inline) para que se acomoden una al lado de otra y aplicarle 
  propiedad padding para darle un poco de ancho al botón, este se sale de su contenedor (en este caso .navbar)
  y usamos la propiedad overflow con el valor hidden para arreglarlo que es como block-inline para menus realizados con listas.
  ¿Porque flotar un elemento inline?
  Porque el contenedor (.desplegable) que va a contener el (.submenu) se comporta en bloque y lo tengo que flotar para que no me tire abajo
  los botones siguientes y necesitamos asegurarnos que se ajusten todos los elementos al flujo float:left
  */
.navbar a{
  float:left;
  text-decoration: none;
  font-size: 1em;
  color: white;
  background: #333;
  padding: 15px 25px;
}
.navbar a:hover {background: orange; color: #333;}
.desplegable {float: left; overflow: hidden;}
.desplegable .btn {
  font-size: 1em;
  color: white;
  background: #333;
  padding: 15px 25px;
  border:0;
  margin:0;
}
.desplegable .btn:hover {background: orange;}
.submenu {
  display: none;
  position: absolute;
  min-height: 130px;
  background: #333;
  z-index: 1;
}
.submenu a{
  float:none;
  display: block;
}

/* IMPORTANTE: con esto hago visible el submenu*/
.desplegable:hover .submenu {display:block;}


i {margin-left:10px;}